{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.homepage'|trans }}
{% endblock %}
{% block content %}
<div class="container w-75 p-3"><br/>
<p> Nie znaleziono strony!</p>
</div>
{% endblock %}