{% extends "base.html.twig" %}
{% block content %}
<div class="container  w-75 p-3"><br/>
<div class="card">
 <div>
        {% include 'default/_flash_messages.html.twig' %}
    </div>
		<div class="card-header"><h2>Edycja danych użytkownika</h2></div>
		<div class="card-body">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}

    <div>
        <input type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans }}" />
    </div>

{{ form_end(form) }}
</div></div>
	</div>
{% endblock %}