{% extends "base.html.twig" %}
{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
<div class="container  w-75 p-3"><br/>
    <div class="card">
        <div>
            {% include 'default/_flash_messages.html.twig' %}
        </div>
        <div class="card-header"><h2>Edycja hasła dla użytkownika: {{ app.user.username }}</h2></div>
        <div class="card-body">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password'} }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </div>
    </div>
    </div>
{% endblock %}
