{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.spectacle.edit'|trans }}
{% endblock %}

{% block content %}
	<div class="container w-75 p-3"><br/>
	{% if is_granted('ROLE_ADMIN') %}
		<div>
			{% include 'default/_flash_messages.html.twig' %}
		</div>
		<div class="card">
			<div class="card-header">
				<h1>
				{{ 'title.spectacle.edit'|trans }}
				</h1>
			</div>
			<div class="card-body">
				{% include 'default/_form.html.twig' with {
				page_title: '',
				attr: {
				method: 'post',
				action: url('spectacle_edit', {'id': spectacle.id})
				},
				back_to_list_path: 'spectacle_index',
				submit_label: 'Wprowadź zmiany'
				} %}
			</div>
		</div>
	{% else %}
		<div class="alert alert-danger" role="alert">
			{{ 'message.error.not.allow'|trans }}
		</div>
	{% endif %}
	</div>
{% endblock %}